apiVersion: v1
kind: Service
metadata:
  name: core-service
  labels:
    app: core-service
spec:
  selector:
    app: core-service
  ports:
    - name: http
      port: 8081
      targetPort: 8081
      protocol: TCP
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: core-service-lb
  labels:
    app: core-service
spec:
  selector:
    app: core-service
  ports:
    - name: http
      port: 80
      targetPort: 8081
      protocol: TCP
  type: LoadBalancer