apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: core-service-uploads-pvc
  labels:
    app: core-service
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: gp2